.about {
  height: auto;
  width: 100%;
  position: relative;
  margin: auto;
  align-items: center;
  margin-bottom: 20px;
}
* {
  color: #fff;
}
.about h1 {
  color: #fff;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid white;
  font-size: 40px;
}

.imgbox {
  height: 300px;
  width: 380px;
  background-image: url("/public/images/mepng.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  filter: drop-shadow(0 0 0.75rem rgb(224, 215, 215));
  border-bottom: 2px solid #fff;
  margin: auto;
  object-fit: contain;
}
.textbox {
  height: auto;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.textbox p {
  text-align: center;
}
.textbox p b {
  color: #fff;
}

.btns {
  height: auto;
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}
.textbox .btns button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background-color: black;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid #fff;

}
.textbox button:hover {
  box-shadow: 1px 1px 10px #fff;
}


@media (max-width: 825px) {
  .about {
    height: auto;
  }
  .btns {
    width: 80%;
  }
}
@media (max-width: 425px) {
  .about {
    height: auto;
  }
  .about h2 {
    text-align: center;
  }

  .textbox .btns button {
    height: 30px;
    width: 30px;
  }
  .textbox {
    width: 90%;
  }

  .btns {
    width: 100%;
  }
  .imgbox {
    height: 200px;
    width: 250px;
  }

  .textbox p{
    font-size: 12px;
    text-align: start;
  }
}
